<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>商品详情</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/common.css">
</head>
<body>

<div class="sp_banner">
    <img src="{$info.cover_id|get_cover='path'}" alt="aa" width="100%" height="152px;">
</div>
<div class="sp_list container oh">
    <div class="sp_title  underline">
        <span>{$info['title']}</span>
        <span>￥{$info.money}</span>
    </div>
    <div class="sp_info">
        <span>商品描述:</span>
        <p>{$info['content']}</p>
    </div>
    <input style="margin-bottom: 30px;" class="sp_btn" type="submit" value="我要购买">
</div>


<include file="Public/footer"/>