<div class="nav_h">
</div>
<?php 
    //获取当前域名详情地址
    $url = $_SERVER['QUERY_STRING'];
    $arr = explode('/', $url);
    $str = $arr[2];
?>
<div class="nav oh">
    <ul class="nav_ul">
        <a href="{:U('Index/index?type=1')}">
            <li align="center" <eq name="str" value="Index"> class="nav_a" </eq>>
                <span>
                <eq name="str" value="Index">
                <img src="images/w_17.png" alt="aa" width="32" >
                <else/>
                <img src="images/w_1.png" alt="aa" width="32" >
                </eq>
                </span>
                <span>问答</span>
            </li></a>
        <a href="{:U('Lecture/index?type=2')}" <eq name="str" value="Lecture"> class="nav_a" </eq>>
            <li align="center" class="">
                <span>
                <eq name="str" value="Lecture">
                <img src="images/w_4.png" alt="aa" width="" >
                <else/>
                <img src="images/w_19.png" alt="aa" width="" >
                </eq>
                </span>
                <span>学习</span>
            </li></a>
        <a href="{:U('Shop/index?type=3')}" <eq name="str" value="Shop"> class="nav_a" </eq>>
            <li align="center">
                <span>
                <eq name="str" value="Shop">
                <img src="images/w_18.png" alt="aa" width="" >
                <else/>
                <img src="images/w_21.png" alt="aa" width="" >
                </eq>
                </span>
                <span>服务</span>
            </li>
        </a>
        <a href="{:U('Contact/index?type=4')}" <eq name="str" value="Contact"> class="nav_a" </eq>>
            <li align="center">
                <span>
                <eq name="str" value="Contact">
                <img src="images/w_30.png" alt="aa" width="" align="absmiddle">
                <else/>
                <img src="images/w_23.png" alt="aa" width="" align="absmiddle">
                </eq>
                </span>
                <span>人脉</span>
            </li></a>
        <a href="{:U('User/index?type=5')}" <eq name="str" value="User"> class="nav_a" </eq>>
            <li align="center">
                <span>
                    <eq name="str" value="User">
                    <img src="images/w_26.png" alt="aa" width="" >
                    <else/>
                    <img src="images/w_25.png" alt="aa" width="" >
                    </eq>
                </span><span>我的</span>
            </li>
        </a>
    </ul>
</div>
<!--<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="__STATIC__/jquery-2.0.3.min.js"></script>

<script>
    var voice = {
        localId: '',
        serverId: ''
    };
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$jssdk.appId}', // 必填，公众号的唯一标识
        timestamp: '{$jssdk.timestamp}', // 必填，生成签名的时间戳
        nonceStr: '{$jssdk.nonceStr}', // 必填，生成签名的随机串
        signature: '{$jssdk.signature}',// 必填，签名，见附录1

        jsApiList: [

            'startRecord',
            'stopRecord',
            'onVoiceRecordEnd',
            'playVoice',
            'onVoicePlayEnd',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    //假设全局变量已经在外部定义
    //按下开始录音
    $('.startRecord').on('touchstart', function (event) {
        event.preventDefault();
        START = new Date().getTime();

        recordTimer = setTimeout(function () {
            wx.startRecord({
                /*    success: function(){
                 localStorage.rainAllowRecord = 'true';
                 },*/
                cancel: function () {
                    alert('用户拒绝授权录音');
                }
            });
        }, 300);
    });
    //松手结束录音
    $('.startRecord').on('touchend', function (event) {
        event.preventDefault();
        END = new Date().getTime();

        if ((END - START) < 300) {
            END = 0;
            START = 0;
            //小于300ms，不录音
            clearTimeout(recordTimer);
        } else {
            wx.stopRecord({
                success: function (res) {
                    voice.localId = res.localId;
                    if (voice.localId == '') {
                        alert('请先录制一段声音');
                        return;
                    }
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }
    });

</script>
<script src="__STATIC__/webchataudio/js/weixinAudio.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $('.weixinAudio').weixinAudio({
        autoplay:true,

    });
</script>-->
</body>
</html>