<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>企业简介</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/common.css">
</head>
<body style="">
<div style="height: 100%;background: #fff" class="container oh">
    <img src="__ROOT__/images/aboutImg.jpg" alt="关于企知道" width="100%">
   {$about}
</div>
<include file="Public/footer"/>