<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/head"/>
</head>
<body>
<div class="container single-video-tit">
    <p>王小利</p>
    <p>六月的欧洲为何青草空袭</p>
</div>
<div class="single-video underline-e2">
    <img src="__IMG__/td_02.png" alt="w" width="100%">
    <a href="##"><img src="__IMG__/sp_03.png" alt="w" width="60"></a>
</div>

<div class="container single-video-profile">
    <div class="col-lg-12 row single-video-profile-tit">
        六月的欧洲为何青草空袭？
    </div>
    <p>1、六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭</p>
    <p>2、六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭</p>
    <p>3、六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭</p>

    <div class="single-video-f">
        六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭六月的欧洲为何青草空袭
    </div>
</div>

<include file="public/footer"/>
<script>
    $(function () {
        $('.single-video a').css({
            top:($('.single-video img').height() - 60 ) / 2,
            left:($('.single-video').width() - 60 ) / 2
        })
    })
</script>
</body>
</html>