<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/head"/>
    <link rel="stylesheet" href="css/swiper.min.css">
</head>
<body style="background: #eef3f9;position: relative">
<div class="sm-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <volist name="bannerlist" id="v">
                    <div class="swiper-slide">
                        <a href="{:U('Shop/info',array('id'=>$v['id']))}">
                        <img src="{$v['cover_id']|get_cover='path'}" alt="w" width="100%">
                        </a>
                    </div>
            </volist>
            <!--<div class="swiper-slide"><img src="__IMG__/sm2_03.png" alt="w" width="100%"></div>-->
            <!--<div class="swiper-slide"><img src="__IMG__/sm2_03.png" alt="w" width="100%"></div>-->
            <!--<div class="swiper-slide"><img src="__IMG__/sm2_03.png" alt="w" width="100%"></div>-->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="sm-nav ">
    <volist name="cate_list" id="v">
        <div class="col-xs-2">
            <a href="{:U('Shop/index?id='.$v[id])}">
                <img src="__ROOT__{$v.path}" alt="i" width="100%">
                <br>
                <span>{$v.title}</span>
            </a>
        </div>
    </volist>

    <!--<div class="col-xs-2">-->
        <!--<a href="##">-->
            <!--<img src="__IMG__/sm_05.png" alt="i" width="100%">-->
            <!--<br>-->
            <!--<span>  法律</span>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
        <!--<a href="##">-->
            <!--<img src="__IMG__/sm_07.png" alt="i" width="100%">-->
            <!--<br>-->
            <!--<span>  健康</span>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
        <!--<a href="##">-->
            <!--<img src="__IMG__/sm_09.png" alt="i" width="100%">-->
            <!--<br>-->
            <!--<span> 税务</span>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="col-xs-2">-->
        <!--<a href="##">-->
            <!--<img src="__IMG__/sm_11.png" alt="i" width="100%">-->
            <!--<br>-->
            <!--<span>  金融</span>-->
        <!--</a>-->
    <!--</div>-->
</div>
<div class="sm-list container">
    <ul class=" sm-list-ul">
        <volist name="list" id="vo">
            <li class="span6 col-xs-5 sm-list-info">
                <a href="{:U('WxJsApi/buyMember?id='.$vo['id'])}" class="">
                    <img src="__ROOT__{$vo.path}" alt="i" width="100%" style="max-height: 95px">

                    <p>{$vo[title],0,8|msubstr}</p>
                    <p>￥{$vo.money}</p>
                </a>
            </li>
        </volist>



</div>
<div class="f">
</div>
<include file="Public/footer"/>
<script src="js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
        autoplay:2000
    });
    window.onload =  function () {
        $('.sm-nav').css({
            top:$('.swiper-slide img').height() - 15
        });
        $('.sm-list').css({
            "margin-top": $('.sm-nav').height() +20
        });
        $('.sm-list-info:odd').css({
            "margin-left":"4%"
        })
    }
</script>
</body>
</html>