<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/head"/>
</head>
<body>
<div class=" qa-header ">
    <div class="container-fluid qa-box">
        <div class="wd-nac qa-nav text-center" style="padding-left: 0;"><a class="qa-a" href="##">推荐</a> <i class="qa-i"></i></div>
        <div class="wd-nac qa-nav text-center"><a href="##">推荐</a> <i></i></div>
        <div class="wd-nac qa-nav text-center"><a href="##">推荐</a> <i></i></div>
        <div class="wd-nac qa-nav text-center"><a href="##">推荐</a> <i></i></div>
        <div class="wd-nac qa-nav text-center"><a href="##">推荐</a> <i></i></div>
        <div class=" qa-nav text-center fr">
            <a href="##">
                <img style="margin-left: 3px;" src="__IMG__/xx_03.png" alt="w" width="22">
            </a>
        </div>
    </div>
    <img class="qa-bg" src="__IMG__/qa_02.png" alt="i" width="100%">
</div>
<div class="qa-list ">
    <notEmpty name="list">
        <volist name="list" id="v">
            <a href="{:U('Index/questioninfo?id='.$v['id'])}">
                <div class="qa-info oh container underline">
                    <div class="qa-i-tit col-xs-12  ">
                        <div class="col-xs-3 qa-i-header">
                            <img src="__IMG__/qa_13.png" alt="1" width="60">
                        </div>
                        <div class="col-xs-9 qa-i-introduce">
                            <div class="col-xs-6">{$v.nickname}（{$v.position}）</div>
                            <div class="col-xs-6">{$v.company}</div>
                        </div>
                    </div>
                    <div class="col-xs-12  qa-i-txt">
                        {$v['content']}
                    </div>
                    <div class="col-xs-12  qa-answer">
                        <div class="col-xs-2 qa-i-da row">
                            <img src="__IMG__/qa_05.png" alt="1" width="25">
                        </div>
                        <div class="col-xs-6 qa-i-voice">
                            <div class="voice-txt">1元收听</div>
                        </div>
                    </div>
                    <div class="col-xs-12  qa-look">
                        <span class="fr"><img src="__IMG__/qa_09.png" alt="i" width="25"><i>{$v['questionlist']['num']}</i>人看过</span>
                    </div>
                </div>

        </volist>
        <else/>
        <div style="text-align: center;margin-top: 15%">
            <img src="__ROOT__/images/暂无消息.png" alt="暂无消息">
            <p>暂时还没有内容哦~</p>
            <p>去其他地方看看吧</p>
        </div>
    </notEmpty>

    <!--<div class="qa-adv">-->
        <!--<img src="__IMG__/qa_20.png" alt="i" width="100% ">-->
    <!--</div>-->

</div>

<div class="f">

</div>

<include file="Public/footer"/>
<script>
    window.onload = function () {
        $('.qa-header').css({
            height:$(".qa-bg").height()
        });
    };
    $(function () {

        $('.qa-nav i ').css({
            width:$('.qa-nav a:first-child').width() - 10
        });
        $('.qa-nav a').click(function () {
            $('.qa-nav i ').css({
                width:$(this).width() - 10
            });
            $('.qa-nav a').removeClass('qa-a');
            $(this).addClass('qa-a');
            $('.qa-nav i ').removeClass('qa-i');
            $(this).parent('.qa-nav').children('i').addClass('qa-i')
        })
    })
</script>
</body>
</html>