<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/head"/>
</head>
<body style="background: #eef3f9">


<div class="user-txt-list  container" style="background: #fff ;margin-top: 0;">
    <div class="qa-info oh  ">
        <div class="qa-i-tit col-xs-12  ">
            <div class="col-xs-3 qa-i-header">
                <img src="{$quesUser.face}" alt="1" width="60">
            </div>
            <div class="col-xs-9 qa-i-introduce">
                <div class="col-xs-6">{$quesUser.username}（{$quesUser.position}）</div>
                <div class="col-xs-6">{$quesUser.company}</div>
            </div>
        </div>
        <div class="col-xs-12  qa-i-txt">
            {$info['content']}
        </div>

        <div class="col-xs-12  qa-look underline-d">
            <span class="fr"><img src="__IMG__/micon_10.png" alt="i" width="25"><i>{$info['number']}</i>人回答</span>
        </div>

        <div class="huida oh">
            <notEmpty name="info['questionlist']">
                <volist name="info['questionlist']" id="v">
                    <div class="col-xs-12  qa-answer" data-id="{$info['questionlist'][0][id]}" onclick="playRecord(this)">
                        <div class="col-xs-2 qa-i-da row">
                            <img src="__IMG__/qa_05.png" alt="1" width="25">
                        </div>
                        <div class="col-xs-6 qa-i-voice">
                            <div class="voice-txt">1元收听</div>
                        </div>
                    </div>
                </volist>
                <else/>
                暂时没有回答哦
            </notEmpty>


        </div>

        <div class="col-xs-12  qa-look ">
            <span class="fr"><img src="__IMG__/qa_09.png" alt="i" width="25"><i>{$v['num']}</i>人看过</span>
        </div>
    </div>
</div>
<div class="xg-wt container" >
    <div class="xg-tit underline-d" >
        <img src="__IMG__/wt.jpg" alt="w" width="20">
        相关问题
    </div>
    <div class="qa-list ">
        <volist name="xglist" id="x">
            <div class="qa-info oh  underline-d">
                <div class="qa-i-tit col-xs-12  ">
                    <div class="col-xs-3 qa-i-header">
                        <img src="__IMG__/qa_13.png" alt="1" width="60">
                    </div>
                    <div class="col-xs-9 qa-i-introduce">
                        <div class="col-xs-6">{$x.userinfo.username}（{$x.userinfo.position}）</div>
                        <div class="col-xs-6">{$x.userinfo.company}</div>
                    </div>
                </div>
                <div class="col-xs-12  qa-i-txt">
                    {$x['title']}
                </div>
                <div class="col-xs-12  qa-answer">
                    <div class="col-xs-2 qa-i-da row">
                        <img src="__IMG__/qa_05.png" alt="1" width="25">
                    </div>
                    <div class="col-xs-6 qa-i-voice">
                        <div class="voice-txt">{$x['questionlist']['money']}元收听</div>
                    </div>
                </div>
                <div class="col-xs-12  qa-look">
                    <span class="fr"><img src="__IMG__/qa_09.png" alt="i" width="25"><i>{$x.questionlist.num}</i>人看过</span>
                </div>
            </div>
        </volist>



    </div>
</div>
<div class="ly-btn">

    <img src="__IMG__/wd_11.png" alt="40" width="60" class="startRecord">
</div>
<div class="f">

</div>
<include file="Public/footer"/>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var voice = {
        localId: '',
        serverId: ''
    };
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{$jssdk.appId}', // 必填，公众号的唯一标识
        timestamp: '{$jssdk.timestamp}', // 必填，生成签名的时间戳
        nonceStr: '{$jssdk.nonceStr}', // 必填，生成签名的随机串
        signature: '{$jssdk.signature}',// 必填，签名，见附录1

        jsApiList: [

            'startRecord',
            'stopRecord',
            'onVoiceRecordEnd',
            'playVoice',
            'onVoicePlayEnd',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    //假设全局变量已经在外部定义
    //按下开始录音
    $('.startRecord').on('touchstart', function (event) {
        event.preventDefault();
        START = new Date().getTime();

        recordTimer = setTimeout(function () {
            wx.startRecord({
                /*    success: function(){
                 localStorage.rainAllowRecord = 'true';
                 },*/
                cancel: function () {
                    alert('用户拒绝授权录音');
                }
            });
        }, 300);
    });
    //松手结束录音
    $('.startRecord').on('touchend', function (event) {
        event.preventDefault();
        END = new Date().getTime();

        if ((END - START) < 300) {
            END = 0;
            START = 0;
            //小于300ms，不录音
            clearTimeout(recordTimer);
        } else {
            wx.stopRecord({
                success: function (res) {
                    voice.localId = res.localId;
                    if (voice.localId == '') {
                        alert('请先录制一段声音');
                        return;
                    }
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }
    });
    function playRecord(obj) {
        var $id = $(obj).attr('data-id');
        $.post("{:U('Index/recordVoice')}",{id:$id},function (data) {
            if (data.status){
                console.log(data);
//                alert(data.data);
                wx.downloadVoice({
                    serverId: data.data, // 需要下载的音频的服务器端ID，由uploadVoice接口获得
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success: function (res) {
                        var localId = res.localId; // 返回音频的本地ID

                        wx.playVoice({
                            localId: localId
                        });
                    }
                });

            }else{
                alert(data.data);
            }
        })
    }
</script>
</body>
</html>