<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>会员申请</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/common.css">
    <style>
        .vip_btn2{
    width: 180px;
    height: 35px;
    /*background: #dd5044;*/
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    margin: 40px auto 0 auto;
    display: block;
    border-radius: 5px;
}
    </style>
</head>
<body style="">
<div class="my_vip container oh" style="height: 100%">
    <p>{:C('VIP_CONTENT')}</p>
    <div>
        <a href="##" <eq name="level" value="1"> class="vip_btn2" <else/> class="vip_btn" </eq>>成为会员</a>
        <a href="##" <eq name="level" value="2"> class="vip_btn2" <else/> class="vip_btn" </eq>>成为VIP会员</a>
        <a href="{:U('User/invitation')}" <eq name="level" value="0"> class="vip_btn2" <else/> class="vip_btn" </eq>>输入邀请码</a>

        <a href="{:U('User/apply')}" <eq name="level" value="3"> class="vip_btn2" <else/> class="vip_btn" </eq>>成为专业会员</a>
    </div>
</div>

<include file="Public/footer"/>

