<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public/head"/>
</head>
<body>
<div class=" ">
    <img src="__IMG__/td_02.png" alt="w" width="100%" height="180">
</div>
<div class="td-blurb  container">

    <div class=" td-info-p ">
        <p>{$info.username}</p>
        <p>{$info.area}-{$info.company}-（{$info.position}）</p>
    </div>
</div>
<hr class="underline-e">
<div class="container td-introduce">
    <div class="td-introduce-tit   col-lg-12 underline-c">
        <img src="__IMG__/td_09.png" alt="t" width="20">
        简介
    </div>
    <div class="td-introduce-txt">
        <p>最近遇到代缴社保的问题，心中一直不明白要怎么办。想来问问大家，希望大家能给我一个答案！
            最近遇到代缴社保的问题，心中一直不明白要怎么办。想来问问大家，希望大家能给我一个答案！
            最近遇到代缴社保的问题，心中一直不明白要怎么办。想来问问大家，希望大家能给我一个答案！</p>

    </div>
</div>


<include file="Public/footer"/>
</body>
</html>